<!DOCTYPE html>
<html>
<head>
    <title>Micronaut</title>
    <style type="text/css">form ol li {
        list-style-type: none;
    }</style>
</head>
<body>
    #if($key && $imageurl)
    <form method="post" action="/delete">
        <input type="hidden" name="key" value="$key"/>
        <input type="submit" value="Delete" id="deleteBtn"/>
    </form>
    #end
    #if( $imageurl)
    <img id="image" width="300" src="$imageurl">
    #end
<h2>Upload</h2>
<form class="upload-form" method="post" action="/upload" enctype="multipart/form-data">
    <fieldset>
        <ol>
            <li><label for="file">File</label>: <input type="file" name="file" id="file"></li>
            <li><input type="submit" value="Upload" id="uploadBtn"/></li>
        </ol>
    </fieldset>
    <div class="progress" style="height: 20px; border-radius: 4px; margin: 10px 0; background-color: #e6e8ec;"></div>
</form>
<script>
    // Declare global variables for easy access
    const uploadForm = document.querySelector('.upload-form');
    const progress = uploadForm.querySelector('.progress');
    uploadForm.onsubmit = event => {
        event.preventDefault();
        // Make sure files are selected
        // Create the form object
        let uploadFormDate = new FormData(uploadForm);
        // Initiate the AJAX request
        let request = new XMLHttpRequest();
        // Ensure the request method is POST
        request.open('POST', uploadForm.action);
        // Attach the progress event handler to the AJAX request
        request.upload.addEventListener('progress', event => {
            // Update the progress bar
            progress.style.background = 'linear-gradient(to right, #25b350, #25b350 ' + Math.round((event.loaded / event.total) * 100) + '%, #e6e8ec ' + Math.round((event.loaded / event.total) * 100) + '%)';
        });
        // Execute request
        request.send(uploadFormDate);
    };
</script>
</body>
</html>
